### Question 1. What are data structures and why are they important?
    
  **Answer**
  
  :Data structures are ways to organize, store and manage data so that it can be used efficiently.

  **Importance**


*  Effieciency
*   Better problem solving
*   Foundations of algorithms
*   Real world applications

### Question 2. Explain the difference between mutable and immutable data types with example.
**Answer**
- **Mutable data type** can be changed after creation, it can be modified, and the elements can be added or deleted
- **Immutable data type** cannot be changed once they are created.

- **Mutable**
'list', 'dict', 'set'
'''phython
my_list = [1,2,3]
my_list.append(4) # Now my_list becomes [1,2, 3,4]

- **Immutable**
'str', 'tuple', 'int','float'
'''phython
my_str = "Hey"
my_str[0] = "h" # This will cause an error

### Question 3. What are the main difference between lists and tuple in phython?
**Answer**
- **List** is a mutable data type, it can be changed and the elements can be added or removed after it is created.
- **Tuple** is an immtable data type, it cannot be changed and the elements cannot be modified once created.
**Examples**
- **List**
'''phython
my_list = [10, 20, 30]
my_list.append(40)
print(my_list) #output: [10, 20, 30,40]
- **Tuple**
'''phython
my_tuple = (10,20,30,40)
my_tuple[0] = 50, this will raise an error

### Question 4. Describe how dictionaries store data
**Answer**

:A dictionary is a data structure that stores key-value pairs. You access the values using the keys, like:

my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

 ### Question 5. Why might you use set instead of list in phython?
 **Answer**
 1. You need unique elements
Sets automatically remove duplicates.
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # {1, 2, 3}
With lists, you'd have to do the deduplication manually.

2. You care about fast membership checks
Sets use hashing, so checking if an item is in a set is usually O(1) time.

Lists require a full scan in the worst case — O(n) time.

- Fast in a set
"apple" in {"apple", "banana", "cherry"}  # True

- Slower in a list
"apple" in ["apple", "banana", "cherry"]  # Also True, but slower for big lists

3. You need set operations
Sets make it super easy to do things like:

Unions (set1 | set2)

Intersections (set1 & set2)

Differences (set1 - set2)

python
a = {1, 2, 3}
b = {3, 4, 5}

print(a & b)  # {3} - intersection

### Question 6: What is string in phython and how is it different from list?
**Answer**

:A string is a sequence of characters, like letters, numbers, symbols, or even spaces. It’s used to represent text.
It’s essentially a list of characters under the hood, but it behaves differently from a regular list.

my_string = "hello world"

A list is a sequence too—but it can hold any type of data: strings, numbers, booleans, even other lists.
Lists are flexible and mutable

my_list = ["hello", 42, True, [1, 2, 3]]

Feature            | String                      | List
-------------------|-----------------------------|-----------------------------
Data Type          | Only characters (text)      | Any data types
Mutable?           | No (immutable)              | Yes (mutable)
Enclosed By        | Quotes ("..." or '...')     | Square brackets ([...])
Can Slice?         | Yes                         | Yes
Can Modify?        | No (must create new one)    | Yes (change in place)
Use Case           | Text manipulation           | General-purpose sequences

###Question7: How do tuples ensure data integrity in Python?

**Answer**

A tuple is an ordered, immutable collection of elements. Once a tuple is created, its contents cannot be changed. This immutability helps ensure data integrity by preventing accidental modifications.

person = ("Alice", 30, "Engineer")
This tuple cannot be changed after it is created. If someone tries to update the age

person[1] = 31  #This will raise a TypeError

Because tuples can't be changed, they are often used when you want to protect data from being altered—especially when passing data between functions or using it as a constant record.

###Question 8. What is a hash table, and how does it relate to dictionaries in Python?
**Answer**

A hash table is a data structure that maps keys to values using a hash function. It computes a hash (a fixed-size integer) from a key, which determines where to store or retrieve the value in memory.

In Python, the dictionary (dict) is implemented using a hash table. This allows Python dictionaries to provide average-case O(1) time complexity for lookups, insertions, and deletions.

Example:

'''python

my_dict = {"name": "Alice", "age": 30}

Here, "name" and "age" are keys that are hashed to store or access their respective values. The use of a hash table allows dictionaries to be extremely fast and efficient for retrieving data based on keys.

###Question9 Can lists contain different data types in Python?
**answer**

Yes, Python lists can contain multiple data types. Unlike some other programming languages, Python lists are dynamic and allow mixing of types within the same list.

Example:

'''python

mixed_list = [42, "hello", 3.14, True, [1, 2, 3]]
This list contains:

An integer (42)

A string ("hello")

A float (3.14)

A boolean (True)

Another list ([1, 2, 3])

###question10 Explain why strings are immutable in Python.

**answer**

Strings in Python are immutable, meaning their content cannot be changed after they are created. If you try to modify a character in a string, you’ll get a TypeError.

'''python

text = "hello"
text[0] = "H"  #This will raise an error

Why are they immutable?

Performance: Immutable objects are faster and easier to optimize internally by the Python interpreter.

Security: Immutability prevents accidental or malicious modifications, which is crucial for objects used as keys in dictionaries or elements in sets.

Hashability: Only immutable types can be used as keys in dictionaries, and strings are frequently used in that way

###11. What advantages do dictionaries offer over lists for certain tasks?

Dictionaries offer several key advantages over lists, especially when dealing with structured or labeled data:

 **Key Advantages**:

Fast Lookup: Dictionaries provide average-case O(1) access time for retrieving values by key, while lists require O(n) time for searching through elements.

Descriptive Keys: Instead of relying on index positions like in lists, dictionaries use meaningful keys (e.g., "name" instead of index 0), which makes code more readable.

Efficient for Mappings: Ideal for storing key-value pairs, such as user records, configurations, or grouped data.

No Need for Order: Unlike lists, dictionaries don’t require elements to be in a specific sequence, which simplifies organization in many cases.

Example:

python

user_list = ["Alice", 30, "Engineer"]
user_dict = {"name": "Alice", "age": 30, "profession": "Engineer"}
In the dictionary, it's clear what each piece of data represents, while the list relies on position.

###12.Describe a scenario where using a tuple would be preferable over a list.
A tuple is preferable when:

- The data should not be changed after creation.

- The collection is used as a dictionary key or stored in a set (because tuples are hashable).

- You're returning multiple values from a function that don't need to be modified.

Example Scenario:
Returning coordinates or a function result:

python

def get_location():
    return (40.7128, -74.0060)  # Latitude and Longitude
    
Using a tuple makes sense here because coordinates are fixed and should not be accidentally altered.

Another scenario:

python

my_dict = {("Alice", 30): "Engineer"}  # Using a tuple as a key
You couldn't use a list here because lists are mutable and unhashable.

###13. How do sets handle duplicate values in Python?
Sets in Python are unordered collections of unique elements. They automatically remove duplicate values when the set is created or when items are added.

Example:

python
my_set = {1, 2, 2, 3, 4, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}
Key Characteristics:
Adding an existing value does nothing (it won’t be duplicated).

Sets are useful for filtering unique values from lists or other collections.

Converting a list to a set:

python
nums = [1, 2, 2, 3]
unique_nums = set(nums)  # {1, 2, 3}

###14. How does the “in” keyword work differently for lists and dictionaries?
The in keyword checks for membership but behaves differently for lists and dictionaries:

For Lists:
Checks if a value exists in the list.

python
my_list = [1, 2, 3]
print(2 in my_list)  # True

For Dictionaries:
Checks if a key exists in the dictionary—not the value.

python
my_dict = {"name": "Alice", "age": 30}
print("name" in my_dict)  # True
print("Alice" in my_dict)  # False (Alice is a value)

To check for values in a dictionary:
python
"Alice" in my_dict.values()  # True

###15. Can you modify the elements of a tuple? Explain why or why not.
No, you cannot modify the elements of a tuple. Tuples are immutable, which means once they are created, their elements cannot be changed, added, or removed.

Example:

python
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # Raises TypeError

Why tuples are immutable:
They are designed for data integrity and fixed records.

Their immutability makes them hashable, allowing them to be used as keys in dictionaries or elements in sets.

Immutability also helps prevent bugs that can occur from accidental changes to critical data.

###16. What is a nested dictionary, and give an example of its use case.
A nested dictionary is a dictionary where one or more values are themselves dictionaries. This allows for hierarchical or structured data representation.

Use Case:
Nested dictionaries are ideal when representing complex data such as user profiles, configurations, or organizational structures.

Example:
python
user = {
    "name": "Alice",
    "profile": {
        "age": 30,
        "location": "New York",
        "skills": ["Python", "Data Analysis"]
    }
}
You can access nested data using multiple keys:

python
print(user["profile"]["location"])  # Output: New York

###17. Describe the time complexity of accessing elements in a dictionary.
In Python, dictionaries are implemented using hash tables, which provide very efficient access to elements.

Time Complexity:
Average case: O(1) — Constant time access using a key.

Worst case: O(n) — In rare cases with hash collisions.

Because of this, dictionaries are one of the most efficient data structures for lookup operations when the key is known.


###18. In what situations are lists preferred over dictionaries?
Lists are preferred when:

- Order matters — Lists maintain a specific sequence of elements.

- You need to store simple collections of items (e.g., numbers, names).

- You want to access items by position/index.

- The data doesn't need key-value association.

Example Use Cases:
Iterating over a series of numbers:
python
scores = [85, 90, 78, 92]

Keeping a to-do list:
python
tasks = ["Buy groceries", "Clean room", "Call friend"]
If you don’t need labels or keys, and care about order or duplicates, a list is a better choice than a dictionary

###19.Why are dictionaries considered unordered, and how does that affect data retrieval?
Historically, dictionaries in Python were unordered, meaning they didn’t maintain the order of elements as inserted. Starting from Python 3.7, dictionaries do preserve insertion order, but conceptually they are still treated as unordered structures.

Impact on Retrieval:
You access data using keys, not by position.

You cannot rely on index-based access like in lists (my_dict[0] is invalid).

###20. Explain the difference between a list and a dictionary in terms of data retrieval.
List:
Access elements using index (numeric position).

Syntax: my_list[0]

Slower when searching for values (O(n)) if index is unknown.

Dictionary:
Access elements using keys (labels).

Syntax: my_dict["key"]

Much faster for lookups (average O(1)).

Example Comparison:

python
List
fruits = ["apple", "banana", "cherry"]
print(fruits[1])  # Output: banana

Dictionary
fruit_colors = {"apple": "red", "banana": "yellow", "cherry": "red"}
print(fruit_colors["banana"])  # Output: yellow

In summary, use lists for ordered collections, and dictionaries for key-value mappings where lookup speed and readability matter.

1. Write a code to create a string with your name and print it.

In [ ]:

name = "Sagar"
print (name)

Divya

2.  Write a code to find the length of the string "Hello World"P

In [ ]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [1]:
text = "Python Programming"
sliced = text[:3]
print(sliced)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
upper_text = text.upper()
print(upper_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
sentence = "I like apple"
new_sentence = sentence.replace("apple", "orange")
print(new_sentence)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
person = {"name": "Alice", "age": 30, "city": "Paris"}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'Paris'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [ ]:
import random

numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[14, 31, 50, 81, 82]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

29. Write a code to combine two dictionaries into one and print the result.
python

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [ ]:
fruits = ["apple", "banana", "apple", "cherry"]
fruit_set = set(fruits)
print(fruit_set)

{'apple', 'cherry', 'banana'}